*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --medium: #6894A6; 
    --light: #AAC9D0;
    --dark: black;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
}

header{
    background-color: var(--medium);
    max-height: 100px;
}

h1{
    background-color: var(--light);
    color: var(--dark);
    width: 25%;
    text-align: end;
    padding: 5px 25px 5px 0px;
    position: relative;
    top: 20px;
    font-size: 35px;
    border-radius: 0px 5px 5px 0px;
}

h2{
    font-size: 40px;
    
}

h3{
    background-color: var(--medium);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

h3:hover{
    background-color: var(--light);
} 

section{
    margin-left: 30px;
}

p{
    margin-right: 10px;
}

 article{
    width: 30%;
    height: auto;
    margin: 5px; 
 }

 li a:hover{
    background-color:var(--light);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;  
}

nav .nav-li{
    margin: 20px 25px 25px 25px;
    font-size: 25px;
}

ul .list{
    list-style: disc;
    margin-left:50px;
}

.flex-box{
    display: flex;
}

.contact-list{
   text-decoration: underline;
   text-underline-offset: 10px;
}

.contact-list:hover{
    background-color:var(--light);
    cursor: pointer;
}

.h2-border{
    text-decoration: underline;
    text-underline-offset: 10px;
    padding: 10px;
    color: var(--dark);
    margin: 20px;   
}

.placeholder-images{
    width: 100%;
    height: auto;
    opacity: 50%;
    border:5px solid var(--medium);
    padding-bottom: 8px;
 }

 .articles{
    width: 40%;
    height: auto;
 }
 
 .position-relative{
     position:relative;
 }

#paragraph-spacing{
    margin-left: 50px;
    margin-top: 0px;
}

nav #nav-ul {
    color: var(--dark);
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    bottom: 40px;
}

#fullstack-heading-h2{
    background-color: var(--light);
    width: 30%;
    padding: 10px 30px 10px 30px;
    position: relative;
    left: 900px;
    bottom: 100px;
    font-size: 28px;
    border-radius: 5px;   
}

#main-image{
    max-height: 300px;
    width:1400px;
    object-fit:cover;      
}

#contact-ul li{
    list-style-type: none;
    margin-right: 50px;
    margin-left:30px;
    margin-bottom: 30px;
    font-size: 20px;
}


#work{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: var(--dark);
    margin: 10px;
}


#flex-box-article{
    display:flex;
    flex-wrap: wrap;
}

#first-article{
   width: 70%; 
    
}

#first-image{
    opacity: 50%;
    width: 115%;
    height: auto;
    padding: 5px;
    border:5px solid var(--medium);
}


